.container3 {
  width: 1065px;
  height: 263px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.logo-icon1 {
  width: 99px;
  height: 99px;
  position: relative;
  border-radius: var(--br-8xs);
  object-fit: cover;
  z-index: 1;
}
.title-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.title1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  z-index: 1;
}
.logo-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 44px;
  max-width: 100%;
}
.businesses-entrepreneurs1 {
  font-weight: 500;
}
.description1 {
  width: 838px;
  position: relative;
  font-size: var(--font-size-13xl);
  text-align: center;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.container4,
.header1 {
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  max-width: 100%;
}
.header1 {
  width: 1065px;
  box-shadow: var(--floating);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-2xl) var(--padding-12xl)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-2xl);
  text-align: left;
  font-size: var(--font-size-71xl);
  color: var(--color-black);
  font-family: var(--section-header);
}
.container4 {
  height: 100px;
  width: 525px;
  position: relative;
  display: none;
}
.email-icon {
  height: 80px;
  width: 80px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.agriculture-section {
  height: 40px;
  position: relative;
  font-size: var(--font-size-13xl);
  display: inline-block;
  font-family: var(--section-header);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.container5,
.email {
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  max-width: 100%;
}
.email {
  cursor: pointer;
  border: 0;
  padding: 9px 92px var(--padding-2xs) var(--padding-43xl);
  box-shadow: var(--floating);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-20xl);
}
.email:hover,
.follow:hover {
  background-color: var(--color-gainsboro);
}
.container5 {
  height: 100px;
  width: 525px;
  position: relative;
  display: none;
}
.sm-icon,
.text {
  position: relative;
  z-index: 1;
}
.sm-icon {
  height: 71px;
  width: 50px;
  object-fit: cover;
}
.text {
  height: 40px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  font-family: var(--section-header);
  color: var(--color-black);
  text-align: center;
  max-width: 100%;
}
.about-us-frame,
.follow {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.follow {
  cursor: pointer;
  border: 0;
  padding: 13px 33px 16px 47px;
  background-color: var(--color-white);
  border-radius: var(--br-21xl);
  box-shadow: var(--floating);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 15px;
}
.about-us-frame {
  justify-content: flex-start;
  gap: 15px;
}
.title2 {
  height: 50px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.service-frame {
  width: 885px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.service-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 283px;
  min-height: 357px;
  z-index: 1;
  border: 1px solid lightgray;
}
.header-frame {
  width: 885px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  max-width: 100%;
}
.container7,
.what-we-do {
  width: 1065px;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  max-width: 100%;
}
.what-we-do {
  box-shadow: var(--floating);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-13xl) var(--padding-26xl);
  box-sizing: border-box;
  gap: var(--gap-18xl);
  text-align: center;
  font-size: var(--section-header-size);
  color: var(--color-royalblue);
  font-family: var(--section-header);
}
.container7 {
  height: 521px;
  position: relative;
  display: none;
}
.title3 {
  height: 50px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.title-wrapper {
  width: 885px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.project-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 283px;
  min-height: 357px;
  cursor: pointer;
  z-index: 1;
  border: 1px solid lightgray;
}
.project-parent {
  width: 885px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  max-width: 100%;
}
.container8,
.cool-projects-weve-done {
  width: 1065px;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  max-width: 100%;
}
.cool-projects-weve-done {
  box-shadow: var(--floating);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-13xl) var(--padding-26xl);
  box-sizing: border-box;
  gap: var(--gap-18xl);
  font-size: var(--section-header-size);
  color: var(--color-royalblue);
  font-family: var(--section-header);
}
.container8 {
  height: 385px;
  position: relative;
  display: none;
}
.title4 {
  height: 36.9px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.hi-we-are,
.we-are-easy,
.we-are-skilled,
.we-deliver-high,
.we-gathered-at,
.we-work-in {
  margin: 0;
}
.description2 {
  align-self: stretch;
  height: 177.4px;
  position: relative;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.about-us,
.container9 {
  width: 1065px;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  max-width: 100%;
}
.about-us {
  box-shadow: var(--floating);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 25px 82px 107px var(--padding-71xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--section-header-size);
  color: var(--color-royalblue);
  font-family: var(--section-header);
}
.container9 {
  height: 521px;
  position: relative;
  display: none;
}
.title5 {
  height: 50px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.title-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonial-icon,
.testimonial-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 283px;
  min-height: 357px;
  z-index: 1;
}
.testimonial-parent,
.what-clients-say-about-us-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.testimonial-parent {
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.what-clients-say-about-us-inner {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-2xs);
  box-sizing: border-box;
}
.container10,
.what-clients-say-about-us {
  width: 1065px;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  max-width: 100%;
}
.what-clients-say-about-us {
  box-shadow: var(--floating);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-71xl) var(--padding-26xl) 79px;
  box-sizing: border-box;
  gap: var(--gap-18xl);
  font-size: var(--section-header-size);
  color: var(--color-royalblue);
  font-family: var(--section-header);
}
.container10 {
  height: 250px;
  position: relative;
  display: none;
}
.fb-icon {
  height: 120px;
  width: 120px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.ig-icon {
  border-radius: var(--br-81xl);
}
.ig-icon,
.tt-icon,
.x-icon {
  height: 120px;
  width: 120px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.x-icon {
  border-radius: var(--br-81xl);
}
.instagram-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 5px;
}
.desktop,
.find-us {
  display: flex;
  box-sizing: border-box;
}
.find-us {
  width: 1065px;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: var(--floating);
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 63px 174px var(--padding-43xl);
  gap: 20px;
  max-width: 100%;
}
.desktop {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-xl) var(--padding-31xl)
    var(--padding-2xl);
  gap: 50px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .about-us {
    padding-left: var(--padding-26xl);
    padding-right: 41px;
    box-sizing: border-box;
  }
  .what-clients-say-about-us {
    padding-left: 39px;
    padding-right: var(--padding-26xl);
    box-sizing: border-box;
  }
  .find-us {
    padding-left: var(--padding-68xl);
    padding-right: var(--padding-68xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .title1 {
    font-size: var(--font-size-61xl);
  }
  .logo-frame {
    flex-wrap: wrap;
  }
  .agriculture-section,
  .description1,
  .text {
    font-size: var(--font-size-7xl);
  }
  .title2,
  .title3,
  .title4 {
    font-size: var(--font-size-13xl);
  }
  .description2 {
    font-size: var(--font-size-7xl);
  }
  .title5 {
    font-size: var(--font-size-13xl);
  }
  .find-us {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 725px) {
  .logo-frame {
    flex-direction: column;
    gap: 0 44px;
    align-items: center;
    justify-content: center;
  }
  .follow {
    padding-left: 23px;
    box-sizing: border-box;
  }
  .cool-projects-weve-done,
  .what-we-do {
    gap: var(--gap-18xl);
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .about-us {
    gap: var(--gap-21xl);
    padding-left: var(--padding-3xl);
    box-sizing: border-box;
  }
  .what-clients-say-about-us {
    gap: var(--gap-18xl);
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .find-us {
    padding-left: var(--padding-24xl);
    padding-right: var(--padding-24xl);
    box-sizing: border-box;
  }
  .desktop {
    gap: 50px 0;
  }
}
@media screen and (max-width: 450px) {
  .title1 {
    font-size: var(--font-size-8xl);
  }
  .agriculture-section,
  .description1 {
    font-size: var(--font-size-lgi);
  }
  .email {
    gap: var(--gap-20xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .text {
    font-size: var(--font-size-lgi);
  }
  .about-us-frame {
    flex-direction: column;
  }
  .title2,
  .title3,
  .title4 {
    font-size: var(--font-size-5xl);
  }
  .description2 {
    font-size: var(--font-size-lgi);
  }
  .about-us {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
  }
  .title5 {
    font-size: var(--font-size-5xl);
  }
  .find-us {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
