.label-frame {
  color: var(--color-white);
}
.source-code {
  background-color: var(--color-grey);
}
.text-area {
  color: var(--color-white);
}
.preview {
  background-color: var(--color-grey);
}
.preview:hover {
  background-color: var(--color-gainsboro);
}
.sub-frame1 {
  color: var(--color-white);
}
.project {
  background-color: var(--color-grey);
  color: var(--color-lightblue);
}
.project-page {
  background-color: var(--color-darksmoke);
}
.source-code:hover,
.preview:hover {
  background-color: var(--color-grey-hover);
}
